<html>
    
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

<body>
    <section>
    <app-side-nav></app-side-nav>

    <section id="contents" >

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <i class="fa fa-align-right"></i>
            </button>
            <a class="navbar-brand" href="#">my<span class="main-color">Dashboard</span></a>
          </div>
          <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My profile <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="fa fa-user-o fw"></i> My account</a></li>
                  <li><a href="#"><i class="fa fa-envelope-o fw"></i> My inbox</a></li>
                  <li><a href="#"><i class="fa fa-question-circle-o fw"></i> Help</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#"><i class="fa fa-sign-out"></i> Log out</a></li>
                </ul>
              </li>
              <li><a href="#"><i class="fa fa-comments"></i><span>23</span></a></li>
              <li><a href="#"><i class="fa fa-bell-o"></i><span>98</span></a></li>
              <li><i data-show="show-side-navigation1" class="fa fa-bars show-side-btn"></i></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="welcome">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="content">
                <h2 style="color: white;">Welcome to Dashboard</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    
    <header class="projects-header">
    
      <div class="title" style="color: white;">Liste Utilisateurs</div>
    
    </header>
    
    <div>
    <div class="main">
      <div class="">
        <div class="jumbotron">
          <h1>Liste des Clients</h1>
        <div class="container">
      
          <section id="cart"> 
            <article class="product" *ngFor="let item of ListeClient">
              <header>
                <a class="remove">
                  <img src="{{item.imgUrl}}" alt="">
      
                  <h3>{{item.mail}}</h3>
                </a>
              </header>
      
              <div class="content">
      
                <h1>{{item.username}} {{item.prenom}}</h1>
                <p>Login {{item.login}}  </p>
                <p> Email: {{item.mail}} </p>

                  {{item.description}}
                  <div>
                    <div *ngIf="accept;else myFlagTrue" style="top: 0" style="background-color: green;" class="color green"></div>
                  </div>
              
                  <ng-template #myFlagTrue>
      
                    <div *ngIf="refuse" style="top: 0" style="background-color: red;" class="color red"></div>
        
                </ng-template>
              </div>
              <footer class="content">
                <span class="qt-minus" >Supprimer</span>
              </footer>
            </article>
          </section>
      
        </div>
      
          
        </div>
    
    
      
      
    
    
      </div>
    </div>
    
    
    </div>
    
    
    <div>
      <div class="main">
        <div class="">
          <div class="jumbotron">
            <h1>Liste des Couturiers</h1>
          <div class="container">
        
            <section id="cart"> 
              <article class="product" *ngFor="let item of ListeCout">
                <header>
                  <a class="remove">
                    <img src="{{item.imgUrl}}" alt="">
        
                    <h3>{{item.mail}}</h3>
                  </a>
                </header>
        
                <div class="content">
        
                  <h1>{{item.username}} {{item.prenom}}</h1>
                  <p>Login {{item.login}}  </p>
                  <p> Email: {{item.mail}} </p>
  
                    {{item.description}}
                    <div>
                      <div *ngIf="accept;else myFlagTrue" style="top: 0" style="background-color: green;" class="color green"></div>
                    </div>
                
                    <ng-template #myFlagTrue>
        
                      <div *ngIf="refuse" style="top: 0" style="background-color: red;" class="color red"></div>
          
                  </ng-template>
                </div>
                <footer class="content">
                  <span class="qt-minus" (click)="Supprimer(item.id)">Supprimer</span>
                </footer>
              </article>
            </section>
        
          </div>
        
            
          </div>
      
      
        
        
      
      
        </div>
      </div>
      
      
      </div>
      
    
    </section>
  </section>

</body>
</html>




