@import url('https://fonts.googleapis.com/css?family=Montserrat|Varela+Round&display=swap');
$primaryfont:"Montserrat";
$secondaryfont:"Varela Round";
$primarycolor:#4A1E9E;

.is-fullheight{
  background-image:url('../../assets/memphis-mini.png');
}