
<app-nav></app-nav>

<div class="container is-fluid">
<div class="container is-vcentered">
  <div class=" columns is-centered is-desktop">
  <div class=" column box is-5 has-text-centered">
    <div class="vcenter">
      <h2 class="subtitle">Un(e) Couterier(e)</h2>
    <img src="../../assets/Couterier.svg" alt="">
    <h3 class="subtitle">Vendez Vos Modéles</h3>
    <a class="button is-medium" [routerLink]="['/inscription','Couterier']" routerLinkActive="router-link-active" >Inscrire</a>
    </div>
    
  </div>

  <div class="separator"></div>
    
    
  <div class="column  box is-5  has-text-centered">
    <div class="vcenter">
      <h2 class="subtitle">Un(e) Client(e)</h2>
    <img src="../../assets/Couterier.svg" alt="">
    <h3 class="subtitle">Achetez et Créez Des Modéles Personalisées</h3>
    <a class="button is-medium" [routerLink]="['/inscription','Client']" routerLinkActive="router-link-active" >Inscrire</a>
    </div>
    
  </div>
  </div>
</div>
  
</div>



